body {
  font-family: "Clash display", sans-serif;
  color: #2a254b;
  background-color: #ffffff;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

a {
  text-decoration: none;
}

ul {
  list-style-type: none;
  margin: 0;
  padding-left: 0;
}

img {
  display: block;
}

.container {
  max-width: 390px;
  padding: 0 24px;
  margin: 0 auto;
}

@media screen and (min-width: 1440px) {
  .container {
    max-width: 1440px;
    padding: 0 80px;
  }
}

.logo {
  font-weight: 400;
  line-height: 1.4;
  font-size: 24px;
  padding-top: 20px;
  padding-bottom: 20px;
  color: #22202e;
}

.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  max-width: 390px;
  padding: 0 24px;
  margin: 0 auto;
}

@media screen and (min-width: 1440px) {
  .header {
    max-width: 1440px;
    padding: 0 28px;
    flex-direction: row-reverse;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  }

  .burger {
    display: none;
  }
}

.header-list {
  display: flex;
  flex-direction: row;
  gap: 20px;
  padding-top: 20px;
  padding-bottom: 20px;
}

.cart-user {
  display: none;
}

@media screen and (min-width: 1440px) {
  .cart-user {
    display: flex;
  }
}

.nav-list {
  display: none;
}

@media screen and (min-width: 1440px) {
  .nav-list {
    display: flex;
    justify-content: center;
    flex-direction: row;
    gap: 44px;
    padding-top: 20px;
    padding-bottom: 20px;
  }

  .nav-item-src {
    font-family: "Satoshi", sans-serif;
    font-style: 16px;
    font-weight: 400;
    line-height: 1.5;
    color: #726e8d;
    cursor: pointer;
    transition: color 300ms ease-in-out;
  }

  .nav-item-src:hover,
  .nav-item-src:focus {
    color: #4e4d93;
  }
}

.main-page {
  display: flex;
  padding-top: 40px;
  padding-bottom: 24px;
  background-color: #2a254b;
}

@media screen and (min-width: 1440px) {
  .main-page {
    padding-top: 60px;
    padding-bottom: 60px;
    background-color: transparent;
    justify-content: space-between;
  }

  .main-page-block {
    width: 100%;
    padding: 60px 98px 60px 60px;
    background-color: #2a254b;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
}

.main-page-title {
  font-weight: 400;
  font-size: 32px;
  line-height: 1.4;
  color: #ffffff;
  margin-bottom: 80px;
}

@media screen and (min-width: 1440px) {
  .main-page-title {
    max-width: 513px;
    margin-bottom: 0;
  }
}

.main-page-text {
  color: #ffffff;
  font-family: "Satoshi", sans-serif;
  font-size: 18px;
  line-height: 1.5;
  font-weight: 400;
  margin-bottom: 32px;
}

.main-page-button {
  font-size: 16px;
  line-height: 1.5;
  font-weight: 400;
  max-width: 100%;
  height: 56px;
  font-family: "Satoshi", sans-serif;
  cursor: pointer;
  color: #ffffff;
  background-color: rgba(249, 249, 249, 0.15);
  border: none;
  transition: background-color 300ms ease-in-out;
}

@media screen and (min-width: 1440px) {
  .main-page-text {
    margin-bottom: 0;
  }

  .main-page-button {
    margin-bottom: 0;
    max-width: 170px;
  }

  .main-page-info {
    display: flex;
    flex-direction: column-reverse;
    gap: 196px;
  }
}

.main-page-button:hover,
.main-page-button:focus {
  background-color: rgba(249, 249, 249, 0.3);
}

.main-page-image {
  display: none;
}

@media screen and (min-width: 1440px) {
  .main-page-image {
    display: block;
  }
}

.utilities {
  padding-top: 48px;
  padding-bottom: 45px;
}

@media screen and (min-width: 1440px) {
  .utilities {
    padding-top: 60px;
    padding-bottom: 86px;
  }
}

.utilities-title {
  max-width: 264px;
  font-size: 20px;
  line-height: 1.4;
  font-weight: 400;
  color: #2a254b;
  margin-bottom: 36px;
}

@media screen and (min-width: 1440px) {
  .utilities-title {
    max-width: none;
    margin-bottom: 50px;
    text-align: center;
  }
}

.utilities-icon {
  fill: #2a254b;
  margin-bottom: 16px;
}

.utilities-item-title {
  font-size: 16px;
  line-height: 1.4;
  font-weight: 400;
  color: #2a254b;
  margin-bottom: 12px;
}

.utilities-item-text {
  font-family: "Satoshi", sans-serif;
  font-size: 14px;
  line-height: 1.5;
  font-weight: 400;
  color: #2a254b;
  margin-bottom: 12px;
}

.utilities-list {
  display: flex;
  flex-direction: column;
  gap: 36px;
}

@media screen and (min-width: 1440px) {
  .utilities-item-title {
    margin-bottom: 8px;
  }

  .utilities-item-text {
    margin-bottom: 0;
  }

  .utilities-list {
    flex-direction: row;
    flex-wrap: nowrap;
    gap: 75px;
  }
}

.ceramics {
  padding-top: 48px;
  padding-bottom: 38px;
}

@media screen and (min-width: 1440px) {
  .ceramics {
    padding-top: 80px;
    padding-bottom: 56px;
  }
}

.ceramics-list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  column-gap: 16px;
  row-gap: 20px;
  margin-bottom: 29px;
}

.ceramics-item {
  width: calc((100% - 16px) / 2);
}

.ceramics-image {
  width: 100%;
  margin-bottom: 24px;
  transition: width 300ms ease-in-out, margin-bottom 300ms ease-in-out;
}

.ceramics-image:hover,
.ceramics-image:focus {
  width: 102%;
  margin-bottom: 20px;
}

@media screen and (min-width: 1440px) {
  .ceramics-list {
    flex-wrap: nowrap;
    gap: 20px;
    margin-bottom: 35px;
  }

  .ceramics-image:hover,
  .ceramics-image:focus {
    width: 102%;
    margin-bottom: 16px;
  }
}

.ceramics-title {
  font-size: 20px;
  line-height: 1.4;
  font-weight: 400;
  color: #2a254b;
  margin-bottom: 19px;
}

@media screen and (min-width: 1440px) {
  .ceramics-title {
    margin-bottom: 33px;
  }
}

.ceramics-item-title {
  font-size: 20px;
  line-height: 1.4;
  font-weight: 400;
  color: #2a254b;
  margin-bottom: 8px;
}

.ceramics-item-text {
  color: #2a254b;
  font-family: "Satoshi", sans-serif;
  font-size: 18px;
  line-height: 1.5;
  font-weight: 400;
}

.ceramics-button {
  font-size: 16px;
  line-height: 1.5;
  font-weight: 400;
  min-width: 100%;
  height: 56px;
  font-family: "Satoshi", sans-serif;
  cursor: pointer;
  color: #2a254b;
  background-color: #f9f9f9;
  border: none;
  transition: background-color 300ms ease-in-out;
}

@media screen and (min-width: 1440px) {
  .ceramics-button {
    min-width: 170px;
    display: block;
    margin: 0 auto;
  }
}

.ceramics-button:hover,
.ceramics-button:focus {
  background-color: #ebe8f4;
}

.popular {
  padding-top: 48px;
  padding-bottom: 38px;
}

.popular-title {
  font-size: 20px;
  line-height: 1.4;
  font-weight: 400;
  color: #2a254b;
  margin-bottom: 19px;
}

@media screen and (min-width: 1440px) {
  .popular {
    padding-top: 64px;
    padding-bottom: 48px;
  }

  .popular-title {
    margin-bottom: 25px;
  }
}

.popular-list {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  column-gap: 20px;
  margin-bottom: 29px;
  overflow-x: scroll;
}

@media screen and (min-width: 1440px) {
  .popular-list {
    margin-bottom: 44px;
    column-gap: normal;
    justify-content: space-between;
    overflow-x: hidden;
  }
}

.popular-list::-webkit-scrollbar {
  display: none;
}

.popular-image {
  height: 251px;
  margin-bottom: 24px;
  transition: height 300ms ease-in-out, margin-bottom 300ms ease-in-out;
}

.popular-image:hover,
.popular-image:focus {
  height: 255px;
  margin-bottom: 20px;
}

@media screen and (min-width: 1440px) {
  .popular-image {
    height: 375px;
  }

  .popular-image:hover,
  .popular-image:focus {
    height: 380px;
    margin-bottom: 19px;
  }
}

.popular-item-title {
  font-size: 20px;
  line-height: 1.4;
  font-weight: 400;
  color: #2a254b;
  margin-bottom: 8px;
}

.popular-item-text {
  color: #2a254b;
  font-family: "Satoshi", sans-serif;
  font-size: 18px;
  line-height: 1.5;
  font-weight: 400;
}

.popular-button {
  font-size: 16px;
  line-height: 1.5;
  font-weight: 400;
  min-width: 100%;
  height: 56px;
  font-family: "Satoshi", sans-serif;
  cursor: pointer;
  color: #2a254b;
  background-color: #f9f9f9;
  border: none;
  transition: background-color 300ms ease-in-out;
}

@media screen and (min-width: 1440px) {
  .popular-button {
    min-width: 170px;
    display: block;
    margin: 0 auto;
  }
}

.popular-button:hover,
.popular-button:focus {
  background-color: #ebe8f4;
}

.signup {
  padding-top: 48px;
  padding-bottom: 38px;
}

@media screen and (min-width: 1440px) {
  .signup {
    padding-top: 52px;
    padding-bottom: 65px;
    background-color: #f9f9f9;
  }

  .signup-container {
    padding-top: 68px;
    padding-bottom: 54px;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

.signup-title {
  font-size: 20px;
  font-weight: 400;
  line-height: 1.4;
  color: #2a254b;
  margin-bottom: 16px;
}

.signup-text {
  font-family: "Satoshi", sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.5;
  color: #2a254b;
  margin-bottom: 64px;
}

.signup-input {
  width: 224px;
  height: 56px;
  background-color: #f9f9f9;
  padding-left: 32px;
  border: none;
  font-family: "Satoshi", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  color: rgb(42, 37, 75);
  outline: transparent;
  transition: background-color 300ms ease-in-out;
}

.signup-input:hover,
.signup-input:focus {
  background-color: #ebe8f4;
}

.signup-input::placeholder {
  font-family: "Satoshi", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  color: rgba(42, 37, 75, 0.2);
}

.signup-button {
  min-width: 118px;
  height: 56px;
  background-color: rgb(42, 37, 75);
  color: #ffffff;
  font-family: "Satoshi", sans-serif;
  cursor: pointer;
  border: none;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  transition: background-color 300ms ease-in-out;
}

.signup-button:hover,
.signup-button:focus {
  background-color: #1e193e;
}

@media screen and (min-width: 1440px) {
  .signup-text {
    margin-bottom: 72px;
    max-width: 470px;
    text-align: center;
  }

  .signup-input {
    min-width: 354px;
  }
}

.signup-submit {
  display: flex;
  gap: 0;
}

.studio-block {
  padding-top: 48px;
  padding-bottom: 38px;
}

@media screen and (min-width: 1440px) {
  .studio {
    display: flex;
  }

  .studio-block {
    padding-top: 72px;
    padding-bottom: 54px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
}

.studio-title {
  font-size: 20px;
  font-weight: 400;
  line-height: 1.4;
  color: #2a254b;
  margin-bottom: 12px;
  max-width: 274px;
}

.studio-text {
  font-family: "Satoshi", sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.5;
  color: #505977;
  margin-bottom: 64px;
}

@media screen and (min-width: 1440px) {
  .studio-title {
    max-width: 536px;
    margin-bottom: 25px;
  }

  .studio-text {
    max-width: 536px;
  }
}

.studio-button {
  font-size: 16px;
  line-height: 1.5;
  font-weight: 400;
  max-width: 100%;
  height: 56px;
  font-family: "Satoshi", sans-serif;
  cursor: pointer;
  color: #2a254b;
  background-color: #f9f9f9;
  border: none;
  transition: background-color 300ms ease-in-out;
}

@media screen and (min-width: 1440px) {
  .studio-button {
    max-width: 170px;
  }
}

.studio-button:hover,
.studio-button:focus {
  background-color: #ebe8f4;
}

.studio-image {
  margin: 0 auto;
  width: 390px;
}

@media screen and (min-width: 1440px) {
  .studio-image {
    width: 720px;
  }
}

.footer {
  padding-top: 40px;
  padding-bottom: 20px;
  background-color: #2a254b;
}

@media screen and (min-width: 1440px) {
  .footer {
    padding-top: 58px;
    padding-bottom: 25px;
  }
}

.footer-list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  column-gap: 96px;
  row-gap: 40px;
  padding-bottom: 16px;
  border-bottom: 1px solid #4e4d93;
}

@media screen and (min-width: 1440px) {
  .footer-list {
    padding-bottom: 48px;
    flex-wrap: nowrap;
    justify-content: space-between;
  }
}

.footer-item-text {
  font-size: 16px;
  font-weight: 400;
  line-height: 1.4;
  color: #ffffff;
  margin-bottom: 12px;
}

.fit-list {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.fit-item-src {
  font-family: "Satoshi", sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.5;
  color: #ffffff;
  transition: color 300ms ease-in-out;
}

.fit-item-src:hover,
.fit-item-src:focus {
  color: #f9f9f9;
}

.footer-submit-text {
  font-size: 16px;
  font-weight: 400;
  line-height: 1.4;
  color: #ffffff;
  margin-bottom: 16px;
}

.footer-submit {
  display: flex;
  gap: 0;
}

.footer-input {
  width: 224px;
  height: 56px;
  background-color: rgba(249, 249, 249, 0.15);
  padding-left: 32px;
  border: none;
  font-family: "Satoshi", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  color: rgb(255, 255, 255);
  outline: transparent;
  transition: background-color 300ms ease-in-out;
}

@media screen and (min-width: 1440px) {
  .footer-input {
    width: 509px;
  }
}

.footer-input:hover,
.footer-input:focus {
  background-color: rgba(249, 249, 249, 0.3);
}

.footer-input::placeholder {
  font-family: "Satoshi", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  color: rgb(255, 255, 255);
}

.footer-button {
  width: 118px;
  height: 56px;
  background-color: #ffffff;
  color: #2a254b;
  font-family: "Satoshi", sans-serif;
  cursor: pointer;
  border: none;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  transition: background-color 300ms ease-in-out;
}

.footer-button:hover,
.footer-button:focus {
  background-color: #f9f9f9;
}

.footer-copywrite {
  font-family: "Satoshi", sans-serif;
  font-style: 14px;
  font-weight: 400;
  line-height: 1.5;
  color: #ffffff;
  text-align: center;
}

.footer-block {
  margin-top: 20px;
}

.footer-block-list {
  display: none;
}

@media screen and (min-width: 1440px) {
  .footer-block-list {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    gap: 24px;
  }

  .footer-block {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
  }

  .footer-icon {
    fill: rgb(255, 255, 255);
  }

}
