body {
  font-family: "Clash display", sans-serif;
  color: #2a254b;
  background-color: #ffffff;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

a {
  text-decoration: none;
}

ul {
  list-style-type: none;
  margin: 0;
  padding-left: 0;
}

img {
  display: block;
}

.container {
  max-width: 390px;
  padding: 0 24px;
  margin: 0 auto;
}

@media screen and (min-width: 1440px) {
  .container {
    max-width: 1440px;
    padding: 0 80px;
  }
}

.logo {
  font-weight: 400;
  line-height: 1.4;
  font-size: 24px;
  padding-top: 20px;
  padding-bottom: 20px;
  color: #22202E;
}

.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  max-width: 390px;
  padding: 0 24px;
  margin: 0 auto;
}

@media screen and (min-width: 1440px) {
  .header {
    max-width: 1440px;
    padding: 0 28px;
    flex-direction: row-reverse;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  }

  .burger {
    display: none;
  }
}

.header-list {
  display: flex;
  flex-direction: row;
  gap: 20px;
  padding-top: 20px;
  padding-bottom: 20px;
}

.cart-user {
  display: none;
}

@media screen and (min-width: 1440px) {
  .cart-user {
    display: flex;
  }
}

.nav-list {
  display: none;
}

@media screen and (min-width: 1440px) {
  .nav-list {
    display: flex;
    justify-content: center;
    flex-direction: row;
    gap: 44px;
    padding-top: 20px;
    padding-bottom: 20px;
  }

  .nav-item-src {
    font-family: "Satoshi", sans-serif;
    font-style: 16px;
    font-weight: 400;
    line-height: 1.5;
    color: #726E8D;
    cursor: pointer;
  }
}

.main-page {
  padding-top: 40px;
  padding-bottom: 24px;
  background-color: #2a254b;
}

.main-page-title {
  font-weight: 400;
  font-size: 32px;
  line-height: 1.4;
  color: #ffffff;
  margin-bottom: 80px;
}

.main-page-text {
  color: #ffffff;
  font-family: "Satoshi", sans-serif;
  font-size: 18px;
  line-height: 1.5;
  font-weight: 400;
  margin-bottom: 32px;
}

.main-page-button {
  font-size: 16px;
  line-height: 1.5;
  font-weight: 400;
  width: 100%;
  height: 56px;
  font-family: "Satoshi", sans-serif;
  cursor: pointer;
  color: #ffffff;
  background-color: rgba(249, 249, 249, 0.15);
  border: none;
  transition: background-color 300ms ease-in-out;
}

.main-page-button:hover, .main-page-button:focus {
  background-color: rgba(249, 249, 249, 0.3);
}

.utilities {
  padding-top: 48px;
  padding-bottom: 45px;
}

.utilities-title {
  max-width: 264px;
  font-size: 20px;
  line-height: 1.4;
  font-weight: 400;
  color: #2a254b;
  margin-bottom: 36px;
}

.utilities-icon {
  fill: #2a254b;
  margin-bottom: 16px;
}

.utilities-item-title {
  font-size: 16px;
  line-height: 1.4;
  font-weight: 400;
  color: #2a254b;
  margin-bottom: 12px;
}

.utilities-item-text {
  font-family: "Satoshi", sans-serif;
  font-size: 14px;
  line-height: 1.5;
  font-weight: 400;
  color: #2a254b;
  margin-bottom: 12px;
}

.utilities-list {
  display: flex;
  flex-direction: column;
  gap: 36px;
}

.ceramics {
  padding-top: 48px;
  padding-bottom: 38px;
}

.ceramics-list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  column-gap: 16px;
  row-gap: 20px;
  margin-bottom: 29px;
}

.ceramics-item {
  width: calc((100% - 16px) / 2);
}

.ceramics-image {
  width: 100%;
  margin-bottom: 24px;
  transition: width 300ms ease-in-out, margin-bottom 300ms ease-in-out;
}

.ceramics-image:hover, .ceramics-image:focus {
  width: 102%;
  margin-bottom: 20px;
}

.ceramics-title {
  font-size: 20px;
  line-height: 1.4;
  font-weight: 400;
  color: #2a254b;
  margin-bottom: 19px;
}

.ceramics-item-title {
  font-size: 20px;
  line-height: 1.4;
  font-weight: 400;
  color: #2a254b;
  margin-bottom: 8px;
}

.ceramics-item-text {
  color: #2a254b;
  font-family: "Satoshi", sans-serif;
  font-size: 18px;
  line-height: 1.5;
  font-weight: 400;
}

.ceramics-button {
  font-size: 16px;
  line-height: 1.5;
  font-weight: 400;
  width: 100%;
  height: 56px;
  font-family: "Satoshi", sans-serif;
  cursor: pointer;
  color: #2a254b;
  background-color: #f9f9f9;
  border: none;
  transition: background-color 300ms ease-in-out;
}

.ceramics-button:hover, .ceramics-button:focus {
  background-color: #EBE8F4;
}

.popular {
  max-width: 390px;
  padding-top: 48px;
  padding-bottom: 38px;
}

.popular-list {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  column-gap: 20px;
  margin-bottom: 29px;
  overflow-x: scroll;
}

.popular-list::-webkit-scrollbar {
  display: none;
}

.popular-image {
  height: 251px;
  margin-bottom: 24px;
  transition: height 300ms ease-in-out, margin-bottom 300ms ease-in-out;
}

.popular-image:hover, .popular-image:focus {
  height: 255px;
  margin-bottom: 20px;
}

.popular-title {
  font-size: 20px;
  line-height: 1.4;
  font-weight: 400;
  color: #2a254b;
  margin-bottom: 19px;
}

.popular-item-title {
  font-size: 20px;
  line-height: 1.4;
  font-weight: 400;
  color: #2a254b;
  margin-bottom: 8px;
}

.popular-item-text {
  color: #2a254b;
  font-family: "Satoshi", sans-serif;
  font-size: 18px;
  line-height: 1.5;
  font-weight: 400;
}

.popular-button {
  font-size: 16px;
  line-height: 1.5;
  font-weight: 400;
  width: 100%;
  height: 56px;
  font-family: "Satoshi", sans-serif;
  cursor: pointer;
  color: #2a254b;
  background-color: #f9f9f9;
  border: none;
  transition: background-color 300ms ease-in-out;
}

.popular-button:hover, .popular-button:focus {
  background-color: #EBE8F4;
}

.signup {
  padding-top: 48px;
  padding-bottom: 38px;
}

.signup-title {
  font-size: 20px;
  font-weight: 400;
  line-height: 1.4;
  color: #2A254B;
  margin-bottom: 16px;
}

.signup-text {
  font-family: "Satoshi", sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.5;
  color: #2A254B;
  margin-bottom: 64px;
}

.signup-input {
  width: 224px;
  height: 56px;
  background-color: #f9f9f9;
  padding-left: 32px;
  border: none;
  font-family: "Satoshi", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  color: rgb(42, 37, 75);
  outline: transparent;
  transition: background-color 300ms ease-in-out;
}

.signup-input:hover, .signup-input:focus {
  background-color: #EBE8F4;
}

.signup-input::placeholder {
  font-family: "Satoshi", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  color: rgba(42, 37, 75, 0.2);
}

.signup-button {
  width: 118px;
  height: 56px;
  background-color: rgb(42, 37, 75);
  color: #ffffff;
  font-family: "Satoshi", sans-serif;
  cursor: pointer;
  border: none;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  transition: background-color 300ms ease-in-out;
}

.signup-button:hover, .signup-button:focus {
  background-color: #1E193E;
}

.signup-submit {
  display: flex;
  gap: 0;
}

.studio {
  padding-top: 48px;
}

.studio-title {
  font-size: 20px;
  font-weight: 400;
  line-height: 1.4;
  color: #2A254B;
  margin-bottom: 12px;
  max-width: 274px;
}

.studio-text {
  font-family: "Satoshi", sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.5;
  color: #505977;
  margin-bottom: 64px;
}

.studio-button {
  font-size: 16px;
  line-height: 1.5;
  font-weight: 400;
  width: 100%;
  height: 56px;
  font-family: "Satoshi", sans-serif;
  cursor: pointer;
  color: #2a254b;
  background-color: #f9f9f9;
  border: none;
  margin-bottom: 38px;
  transition: background-color 300ms ease-in-out;
}

.studio-button:hover, .studio-button:focus {
  background-color: #EBE8F4;
}

.studio-image {
  margin: 0 auto;
  width: 390px;
}

.footer {
  padding-top: 40px;
  padding-bottom: 20px;
  background-color: #2A254B;
}

.footer-list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  column-gap: 96px;
  row-gap: 40px;
}

.footer-item-text {
  font-size: 16px;
  font-weight: 400;
  line-height: 1.4;
  color: #ffffff;
  margin-bottom: 12px;
}

.fit-list {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.fit-item-src {
  font-family: "Satoshi", sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.5;
  color: #ffffff;
  transition: color 300ms ease-in-out;
}

.fit-item-src:hover, .fit-item-src:focus {
  color: #f9f9f9;
}

.footer-submit-text {
  font-size: 16px;
  font-weight: 400;
  line-height: 1.4;
  color: #ffffff;
  margin-top: 40px;
  margin-bottom: 16px;
}

.footer-submit {
  display: flex;
  gap: 0;
  padding-bottom: 16px;
  border-bottom: 1px solid #4E4D93;
}

.footer-input {
  width: 224px;
  height: 56px;
  background-color: rgba(249, 249, 249, 0.15);
  padding-left: 32px;
  border: none;
  font-family: "Satoshi", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  color: rgb(255, 255, 255);
  outline: transparent;
  transition: background-color 300ms ease-in-out;
}

.footer-input:hover, .footer-input:focus {
  background-color: rgba(249, 249, 249, 0.3);
}

.footer-input::placeholder {
  font-family: "Satoshi", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  color: rgb(255, 255, 255);
}

.footer-button {
  width: 118px;
  height: 56px;
  background-color: #ffffff;
  color: #2A254B;
  font-family: "Satoshi", sans-serif;
  cursor: pointer;
  border: none;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  transition: background-color 300ms ease-in-out;
}

.footer-button:hover, .footer-button:focus {
  background-color: #f9f9f9;
}

.footer-copywrite {
  font-family: "Satoshi", sans-serif;
  font-style: 14px;
  font-weight: 400;
  line-height: 1.5;
  color: #ffffff;
  margin-top: 20px;
  text-align: center;
}